<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="StartReceive"  value="C:\Users\Honasoft-YGD\source\repos\RabbitMQTest\RabbitMQReceive\bin\Release\RabbitMQReceive.exe"/>
    <add key="StartPush" value="C:\Users\Honasoft-YGD\source\repos\RabbitMQTest\RabbitMQTest\bin\Release\RabbitMQTest.exe"/>
  </appSettings>
</configuration>